---
interface Props {
  icon: string;
  title: string;
  url: string;
  bgColor?: string;
}

const { title, icon, url, bgColor } = Astro.props;

function generateRandomString() {
  return Math.floor(Math.random() * Date.now()).toString(36);
}

const tooltipId = generateRandomString();
---

<div
  id={"tooltip-" + tooltipId}
  role="tooltip"
  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
>
  {title}
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<a
  data-tooltip-target={"tooltip-" + tooltipId}
  class:list={[
    "flex items-center rounded-full p-2",
    bgColor,
    { "bg-slate-900 hover:bg-slate-800": !bgColor },
  ]}
  href={url}
  target="_blank"
>
  <i class:list={["ti", `ti-${icon}`, "text-xl"]}></i>
</a>
