---
import { projectsList } from "../constants/projects";
import ProjectCard from "./ProjectCard.astro";
---

<section id="projects">
  <p class="font-semibold text-2xl mb-6">Projects</p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {projectsList.map((project) => <ProjectCard project={project} />)}
  </div>
</section>

<style></style>
